<a href="https://colab.research.google.com/github/ipman101/AI/blob/main/AI4DD_Lab1_IntroToPython_Student_Copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables, Datatypes, Type Casting

\Imagine you need to add two integers, and print the result, the C code would look something like this: 

```c
int main{
    int a = 10;
    int b = 20;
    int c;

    c = a + b;

    printf("%d", c);

    return 0;
}
```

In [25]:
a = 10
b = 20

sum = a + b

print(sum)

30

Imagine you need to add two floating point numbers, and print the result, the C code would look something like this: 

```c
int main{
    float a = 10.0;
    float b = 20.0;
    float c;

    c = a + b;

    printf("%f", c);
    return 0;
}
```

In [26]:
a = 10.0
b = 20.0

sum = a + b

print(sum)

30.0

In [27]:
var_1 = 70
var_2 = 70.0
var_3 = "70"

In [28]:
var_1 = 70    # int
var_2 = 70.0  # float
var_3 = "70"  # string

print(type(var_1)) # use the type() function to get the datatype

<class 'int'>

In [29]:
# All three of these variables will hold an object of the datatype "int" with the value 70
var_1 = int(70)
var_2 = int(70.6)   # Remember that this does not work like round() function
var_3 = int("70")

print(var_1, var_2, var_3)

70 70 70

## Operators

In [30]:
# Arithmetic Operators
# -----------------
# +  : addition
# -  : subtraction
# *  : multiplication
# /  : division
# %  : modulus
# ** : exponentiation
# // : floor division
# -----------------

var_1 = 3 + 8
var_2 = 5
var_3 = var_1 + var_2
print(var_3)

var_3 -= 5 # Equivalent to `var_3 = var_3 - 5`
print(var_3)

16
11

In [31]:
# Comparison Operators
# -----------------
# <  : less than
# <= : less than or equal to
# >  : greater than
# >= : greater than or equal to
# == : equal
# != : not equal
# -----------------

result_bool = 6 < 23
print(result_bool)

True

# Short Quiz:


What will be the output of the following

In [32]:
a = 30
b = 20
c = -1
d = 3

In [33]:
print(a/d+b*c)

-10.0

In [34]:
print(b*c%d)

1

In [35]:
print(a/b < b/c)

False

## Strings and String Formatting

In [36]:
my_string = "Hello" + " World!" # Notice the space in the string literal
print(my_string)

my_introduction = "Hello, I am x years old!"

my_age = 25
my_introduction = f"I am {my_age} years old!"
print(my_introduction)

tutorial_left = 2.6625
time_left_string = f"There are {tutorial_left:.2f} hours left in this tutorial."
print(time_left_string)

print('----')
line_string = """

This is a big string with a line at the end


"""
print("String before formatting:", line_string)
print("String after stripping:", line_string.strip())

# Optional: Check out the format() method for strings. It is more preferable than f-strings in a few cases

Hello World!
I am 25 years old!
There are 2.66 hours left in this tutorial.
----
String before formatting:

This is a big string with a line at the end



String after stripping: This is a big string with a line at the end

Short Quiz:


How would you accomplish these:


- 

-

In [37]:
a = 1.23452384053
# Print the above variable clipped off to 3 decimal places

# Input:  a = 1.23452384053, b = 8.2433235, c = 9.3423445.
"""

Output:

Number a is 1.23
NUmber b is 8.24
Number b is 9.34
Sum of the numbers is ...(rounded to 3 places)
"""

'\n\nOutput:\n\nNumber a is 1.23\nNUmber b is 8.24\nNumber b is 9.34\nSum of the numbers is ...(rounded to 3 places)\n'


## Collections - Lists, Tuples, and Sets

In [38]:
# Lists - ordered, mutable, allow duplicate values

compounds = ["Methane", "Ethane", "Acetylene", "Methane"]
print(type(compounds))

print(f"The first compound is {compounds[0]}.")
compounds[0] = "Ethene"
print(f"The first compound is now {compounds[0]}.")
print(f"The last compound is {compounds[-1]}.")

compounds.append("Formic Acid")
print(f"List after appending: {compounds}")

compounds.insert(2, "Propane")
print(f"List after inserting at index: {compounds}")

compounds.remove("Formic Acid")
print(f"List after removing: {compounds}")

compounds.pop(2)
print(f"List after removing element at index: {compounds}")

print()

# Some important List operations
print(f"We have {len(compounds)} compounds.") # len() function returns the number of items a list has

print("Looping through all compounds")
for compound in compounds: # Loop through the items in the list
  print(compound)

print()

# List Slicing
print(f"The first 3 compounds are {compounds[:3]}.")

print()

compounds.sort()
print(f"List after sorting: {compounds}")

print(f"All the compounds are: {','.join(compounds)}.")

compounds.clear()
print(f"List after clearing: {compounds}")

<class 'list'>
The first compound is Methane.
The first compound is now Ethene.
The last compound is Methane.
List after appending: ['Ethene', 'Ethane', 'Acetylene', 'Methane', 'Formic Acid']
List after inserting at index: ['Ethene', 'Ethane', 'Propane', 'Acetylene', 'Methane', 'Formic Acid']
List after removing: ['Ethene', 'Ethane', 'Propane', 'Acetylene', 'Methane']
List after removing element at index: ['Ethene', 'Ethane', 'Acetylene', 'Methane']

We have 4 compounds.
Looping through all compounds
Ethene
Ethane
Acetylene
Methane

The first 3 compounds are ['Ethene', 'Ethane', 'Acetylene'].

List after sorting: ['Acetylene', 'Ethane', 'Ethene', 'Methane']
All the compounds are: Acetylene,Ethane,Ethene,Methane.
List after clearing: []

## Short Quiz

In [39]:
"""
1. Define a list of unique numbers, and delete the smallest number from the list. 
2. Define a list of unique random numbers, and retrieve the largest number. Append, number+1 to the list 
3. Get the median of a list of numbers from a list. 

"""

'\n1. Define a list of unique numbers, and delete the smallest number from the list. \n2. Define a list of unique random numbers, and retrieve the largest number. Append, number+1 to the list \n3. Get the median of a list of numbers from a list. \n\n'

In [40]:
# Tuples - ordered, immmutable, allow duplicate values

compounds = ("Methane", "Ethane", "Acetylene")
print(type(compounds))

print(f"The first compound is {compounds[0]}.")
print(f"The last compound is {compounds[-1]}.")
compounds = list(compounds)
print(type(compounds))
compounds[0] = "Ethene" # This will not work since you cannot change values in a tuple
print(f"The first compound is {compounds[0]}.")
print(f"The last compound is {compounds[-1]}.")

<class 'tuple'>
The first compound is Methane.
The last compound is Acetylene.
<class 'list'>
The first compound is Ethene.
The last compound is Acetylene.

In [41]:
# Sets - unordered, immutable (individual entries), do not allow duplicate values

empty_set = set()
print(empty_set)

compounds = {"Methane", "Ethane", "Acetylene", "Methane"}
print(compounds, type(compounds))

compounds.add("Formic Acid")
print(f"Set after addition: {compounds}")

compounds.add("Formic Acid")
print(f"Set after attempted addition: {compounds}")

set()
{'Methane', 'Acetylene', 'Ethane'} <class 'set'>
Set after addition: {'Methane', 'Acetylene', 'Ethane', 'Formic Acid'}
Set after attempted addition: {'Methane', 'Acetylene', 'Ethane', 'Formic Acid'}

## Collections - Dictionaries

In [42]:
# Dictionaries - ordered, mutable, do not allow duplicate values

element = {
    "symbol": "C",
    "atomic_number": 6,
    }

print(type(element))
print(f"The symbol of the element is: {element['symbol']}")

print()

print(f"The keys of the dictionary are: {element.keys()}")
print(f"The values of the dictionary are: {element.values()}")

<class 'dict'>
The symbol of the element is: C

The keys of the dictionary are: dict_keys(['symbol', 'atomic_number'])
The values of the dictionary are: dict_values(['C', 6])

In [43]:
## Short Quiz

In [44]:
"""
1. Given a set, construct a map from element to index, and index to element

"""

'\n1. Given a set, construct a map from element to index, and index to element\n\n'



```
# This is formatted as code
```

## Conditional Statements

In [45]:
var_1 = 5
var_2 = 10

if var_1 < var_2 :
  print(f"The first variable({var_1}) is less than the second variable({var_2})")
elif var_1 == var_2:
  print(f"The first variable({var_1}) is equal to the second variable({var_2})")
else:
  print(f"The first variable({var_1}) is greater than the second variable({var_2})")

print()

# Logical operators like `and` and `or` combine conditional statements
if var_1 < var_2 and var_1 == 5:
  print(f"The first variable({var_1}) is less than the second variable({var_2}) and the first variable is equal to 5")

# Nested if loops

The first variable(5) is less than the second variable(10)

The first variable(5) is less than the second variable(10) and the first variable is equal to 5

## Short Quiz

In [46]:
"""

What is the output of the following:

a = 5, b = 10, c = 15

result = (a+b is c and a > b)

print(result)


"""

'\n\nWhat is the output of the following:\n\na = 5, b = 10, c = 15\n\nresult = (a+b is c and a > b)\n\nprint(result)\n\n\n'

## Loops

In [47]:
# A while-loop runs as long as a conditional statement (or multiple combined statements) are true
atomic_num = 1
while atomic_num < 10: # This while-loop runs as long as `atomic_num` is less than 10
  print(atomic_num)
  atomic_num += 1

print()

print("While loop with break, continue statements")
atomic_num = 0
while atomic_num < 10: # This while-loop runs as long as `atomic_num` is less than 10
  if atomic_num == 7:
    break              # You can break the while loop even when the original condition is true

  atomic_num += 1
  if atomic_num == 5:
    continue           # You can skip the remaining part of the code in the while-loop

  print(atomic_num)

1
2
3
4
5
6
7
8
9

While loop with break, continue statements
1
2
3
4
6
7

In [48]:
# a for-loop is used to iterate over any sequence or collection. This is different from the `for` keyword in programming languages like C/C++

compounds = ["Methane", "Ethane", "Acetylene", "Methane"]
for compound in compounds:
  print(compound)

print()
for letter in "AI4DD":
  if letter == '4':
    continue
  print(letter)

print()
print("For loop with range, break, continue statements")
for atomic_num in range(10): # This for-loop iterates `atomic_num` through all the elements in `range(10)`
  if atomic_num == 7:
    break              # You can break the for loop even when the original condition is true

  atomic_num += 1
  if atomic_num == 5:
    continue           # You can skip the remaining part of the code in the for-loop

  print(atomic_num)

Methane
Ethane
Acetylene
Methane

A
I
D
D

For loop with range, break, continue statements
1
2
3
4
6
7

In [49]:
# Task: Write a loop to print the sum of first N natural numbers

# n = 5; Output = 15

In [50]:
# Task: Write a loop to print the product of first N negative numbers

# n = 5; Output = -120

In [51]:
# Task: Print the following patterns with any loop(s) of your choice

"""
1
12
123
1234
12345
"""

'\n1\n12\n123\n1234\n12345\n'

## Functions

In [52]:
def elaborate_element():
  print("This is a line from a function")

elaborate_element()

This is a line from a function

In [53]:
def elaborate_element(elem_name, atomic_num):
  print(f"The element {elem_name} has the atomic number {atomic_num}.")

elaborate_element("H", 1)
elaborate_element("He", 2)

The element H has the atomic number 1.
The element He has the atomic number 2.

In [54]:
def elaborate_element(elem_name, atomic_num):
  print(f"The element {elem_name} has the atomic number {atomic_num}.")

elaborate_element(elem_name = "H", atomic_num = 1)

The element H has the atomic number 1.

In [55]:
def element_properties(*properties):
  print("The properties of the element are:")
  for each_property in properties:
    print(each_property)

element_properties(1, "H", "Non Metal")

The properties of the element are:
1
H
Non Metal

In [56]:
# Task: 

"""

Write a function named "calculator" that takes in 2 numbers and an operation as a string, and returns the result. 
Eg:

a = calculator(1,2,"add")
b = calculator(3,2,"subtract")
c = calculator(3,2,"multiply")
d = calculator(3,2,"divide")

"""

'\n\nWrite a function named "calculator" that takes in 2 numbers and an operation as a string, and returns the result. \nEg:\n\na = calculator(1,2,"add")\nb = calculator(3,2,"subtract")\nc = calculator(3,2,"multiply")\nd = calculator(3,2,"divide")\n\n'

In [57]:
# Task: 

"""

Write a function that takes in a number and returns a factorial of the number.
Eg:

result = factorial(5)

Output: 120 (1*2*3*4*5)

"""

'\n\nWrite a function that takes in a number and returns a factorial of the number.\nEg:\n\nresult = factorial(5)\n\nOutput: 120 (1*2*3*4*5)\n\n'

## Scopes

In [58]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [59]:
def myfunc():
  global x
  x = 500

myfunc()

print(x)

500

## Lambda Functions and Enumerate in python

Lambda functions are anonymous functions which are often used for callbacks and passing functions as argument

In [60]:
fun1 = lambda a : a*a
fun1(5)

25

In [61]:
def functionMaker(m):
  return lambda x: x*m

In [62]:
multipliers = [functionMaker(i) for i in range(2, 6)]

In [63]:
for fun in multipliers:
  print(fun(2))

4
6
8
10

In [64]:
# We might also need to know which index of the array of functions is actually operating on the 
# input value. For that we can use the enumerate function

In [65]:
for idx, fun in enumerate(multipliers):
  print("Function number {} outputs value {} after operating on {}".format(idx, fun(2), 2))

Function number 0 outputs value 4 after operating on 2
Function number 1 outputs value 6 after operating on 2
Function number 2 outputs value 8 after operating on 2
Function number 3 outputs value 10 after operating on 2

## Sorting using Keys

In [68]:
import numpy as np
my_array = []

letters = ["A", "B", "CG", "D", "5D", "9"]

for _ in range(25):
  my_array.append((np.random.choice(letters), np.random.choice(9)))

In [70]:
sorted(my_array)[:10]

[('5D', 3),
 ('5D', 4),
 ('9', 6),
 ('9', 6),
 ('9', 7),
 ('9', 8),
 ('A', 4),
 ('A', 5),
 ('A', 6),
 ('B', 0)]

## Giving key in such a way that preceding numbers have a smaller key value than those which are further away. 

We can query the ascii value of a string letter using the `ord()` method

In [71]:
sorted(my_array, key=lambda x: 1000*len(x[0]) + ord(x[0][0]))[:10]

[('9', 7),
 ('9', 8),
 ('9', 6),
 ('9', 6),
 ('A', 4),
 ('A', 5),
 ('A', 6),
 ('B', 8),
 ('B', 1),
 ('B', 6)]

## Exception Handling in python

In [72]:
try:
  f = open("This File dont exist. mp4", "rb")
except Exception as e:
  print("We got the error : {}".format(e))
  print(e.__class__.__name__)
else:
  print("No error was found")
finally:
  print("This gets executed regardless of the fact that exception gets raised or not")

We got the error : [Errno 2] No such file or directory: 'This File dont exist. mp4'
FileNotFoundError
This gets executed regardless of the fact that exception gets raised or not

## Classes, Objects and Inheritance

In [73]:
class Polygon:

  def __init__(self, num_sides : int):
    self.n = num_sides
    self.sides = [None] * self.n
  
  def set_sides(self, sides_array) -> None:
    assert len(sides_array) == self.n, "Number of sides not equal to that of the polygon"
    self.sides = sides_array

  def get_sides(self) -> list:
    return self.sides

# Task: Raise an error if the input to the init of the function Polygon is
# invalid i.e num_sides should be valid

In [75]:
p1 = Polygon(5)
p1.set_sides([2, 3, 4, 5, 6])
#Goes Through


p1.set_sides([1, 2, 3, 4, 5, 6])
# Would throw an assertion error

AssertionError: ignored

In [76]:
class Triangle(Polygon):
  def __init__(self):
    super().__init__(3)
  
  def get_area(self) -> float:
    a, b, c = self.sides
    s = (a + b + c) / 2
    area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
    return area

In [77]:
t1 = Triangle()
t1.set_sides([3, 4, 5])
print("The area of the triangle is: {}".format(t1.get_area()))

The area of the triangle is: 6.0

In [78]:
class RegularPolygon(Polygon):
  def __init__(self, n):
    super().__init__(n)

  def set_sides(self, l : float):
    super().set_sides([l] * self.n)

class EquilateralTriangle(Triangle, RegularPolygon):
  def __init__(self):
    super().__init__()

In [79]:
e1 = EquilateralTriangle()
e1.set_sides(3)

In [80]:
e1.get_area()

3.897114317029974

In [83]:
print(isinstance(e1, Polygon))
print(isinstance(t1, RegularPolygon))
print(issubclass(EquilateralTriangle, RegularPolygon))
print(issubclass(RegularPolygon, Triangle))

True
False
True
False

## Using few of important method decorators:

In [84]:
class Circle:
    def __init__(self, radius):
        self._radius = radius

    @property
    def radius(self):
        """Get value of radius"""
        return self._radius

    @radius.setter
    def radius(self, value):
        """Set radius, raise error if negative"""
        if value >= 0:
            self._radius = value
        else:
            raise ValueError("Radius must be positive")

    @property
    def area(self):
        """Calculate area inside circle"""
        return self.pi() * self.radius**2

    def cylinder_volume(self, height):
        """Calculate volume of cylinder with circle as base"""
        return self.area * height

    @classmethod
    def unit_circle(cls):
        """Factory method creating a circle with radius 1"""
        return cls(1)

    @staticmethod
    def pi():
        """Value of , could use math.pi instead though"""
        return 3.1415926535

In [85]:
c = Circle(3)

In [86]:
print(c.radius)
print(c.area)

print(c.cylinder_volume(5))

c.radius = c.pi()

3
28.2743338815
141.3716694075

In [87]:
c2 = Circle.unit_circle()
print(c2.pi())
print(Circle.pi())

3.1415926535
3.1415926535

---

# Homework exercises

In [88]:
"""

Write a function, that takes a list of names names as input and returns a dictionary of rollnums:names in alphabetical order

Eg: 
names = ["sriram","bhuvanesh","animesh","arihant"]
result = get_rollnums(names)
print(result)

Output:
{1:"animesh",2:""arihant",3:"bhuvanesh",4:"sriram"}
Insert your in this cell

"""


def get_rollnums(names):
  result = {}

  # Insert your code here

  return result

names = ["sriram","bhuvanesh","animesh","arihant"]
result = get_rollnums(names)
print(result)

{}

In [89]:
"""
Take a smiles string as an input, and make a dictionary of Number of Carbon atoms, Number of oxygen atoms, Number of nitrogen atoms. Consider, both capital and small letters. 

Eg:

input = "OCCc1c(C)[n+](cs1)Cc2cnc(C)nc2N"
output = get_smile_stats(input)
print(output)

Output:

{"C":12,"O":1,"N":4}


"""


def get_smile_stats(input):
  result = {}

  # Insert code here

  return result


input = "OCCc1c(C)[n+](cs1)Cc2cnc(C)nc2N"
output = get_smile_stats(input)
print(output)

{}